@font-face {
    font-family: "Eighties";
    src:
        local("Eighties"),
        url("./fonts/Eighties.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans";
    src:
        local("DMSans"),
        url("./fonts/DMSans.ttf") format("truetype");
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
    background: #111;
    font-family: "DM Sans", sans-serif;
}
